*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background:black;
}

#bgCanvas{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

.chat-container{
    width:450px;
    max-width:95%;
    height:600px;
    max-height:90vh;
    background:rgba(20,20,20,0.95);
    border-radius:20px;
    padding:20px;
    display:flex;
    flex-direction:column;
    box-shadow:0 0 25px cyan;
}

h1{
    text-align:center;
    color:white;
    margin-bottom:10px;
    font-size:18px;
}

#chat{
    flex:1;
    overflow-y:auto;
    padding-right:5px;
}

.message{
    padding:8px 12px;
    margin:6px 0;
    border-radius:10px;
    font-size:14px;
    word-wrap:break-word;
}

.user{
    background:#00c6ff;
    color:black;
    align-self:flex-end;
}

.ai{
    background:#333;
    color:white;
    align-self:flex-start;
}

.input-area{
    display:flex;
    gap:10px;
    margin-top:10px;
}

#userInput{
    flex:1;
    padding:10px;
    border-radius:10px;
    border:none;
    outline:none;
}

#sendBtn{
    padding:10px 15px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:#00e5ff;
    font-weight:bold;
}
